<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
  </head>
  <body>
    <header>
      <h2>Jigar Mehta/n01544131</h2>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <h2>jigarmehta277@gmail.com</h2>
    </footer>
  </body>
</html>