<h1>SearchData</h1>
  <form action="/searchdata" method="POST">
    <label for="Manufacturer">Manufacturer:</label>
      <input type="text" id="Manufacturer" name="Manufacturer" >

    <label for="Price_in_thousands">Price in Thousands:</label>
    <input type="text" id="Price_in_thousands" name="Price_in_thousands">

    <button type="submit">Save Invoice</button>
  </form>